Test2
.env
.vscode
/build
.DS_Store
Test
Test.exe
/RSA_Prepare
poiRtree
poiSAT
RSA_Prepare.zip
/SATAll
*.log

/result/*
!/result/*.json

outPut.txt
solve*
tmp.csv
write*
unitTest
/data
readFile
splitData
getMaxMin
!/src
!/src/write*
.idea
cmake-build-debug
makeQuery
test
*.txt

/install
json_parse_test
smalltest

src/googletest

CMakeFiles/
Makefile
cmake_install.cmake
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake

tmpJson
/para
**/node_modules/
**/npm-debug.log
**/CMakeFiles/**
*.exe
preprocess/build/**
backend/data/**
backend/results/**
backend/data/**

!CMakeLists.txt
